<%
  var _default = json['default'];
  for ( var key in _default ) {
	if ( typeof page[key] === 'undefined' ) {
	  page[key] = _default[key];
	}
  }
  var sitename = 'サイト名';
-%><!DOCTYPE html>
	<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<% if (page == json['home']) { %>
		<title><%= sitename %></title>
		<% } else if(page['parent'] != "") { %>
		<title><%= page['title'] %> | <%= page['parent'] %> | <%= sitename %></title>
		<% } else { %>
		<title><%= page['title'] %> | <%= sitename %></title>
		<% } %>
		<meta name="description" content="<%= page['description'] %>">
		<meta name="keywords" content="<%= page['keywords'] %>">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=10,initial-scale=1.0">
		<link rel="stylesheet" href="/assets/styles/style.css">
		<link rel="icon" href="/assets/images/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicons/icon-192x192.png">
	</head>
	<body>
		<header class="l-header">
			<div class="l-header__inner l-contents">
				<% if (page == json['home']) { %>
				<h1 class="l-header__logo"><img src="/assets/images/logo.svg" alt="<%= sitename %>"></h1>
				<% } else { %>
				<div class="l-header__logo"><a href="/"><img src="/assets/images/logo.svg" alt="<%= sitename %>"></a></div>
				<% } %>
				<a href="tel:00000000000" class="l-header__tel"><span>000-000-0000</span></a>
				<button id="js-menu" class="l-header__menu" aria-controls="js-gnav" aria-expanded="false">
					<span class="l-header__menu-item"></span>
				</button>
			</div>

			<nav class="gnav" aria-label="グローバルナビゲーション">
				<ul id="js-gnav" class="gnav__list l-contents" aria-labelledby="js-menu" aria-hidden="true">
					<li class="gnav__item"><a href="/" class="gnav__link">top</a></li>
					<li class="gnav__item"><a href="/about/" class="gnav__link">about us</a></li>
					<li class="gnav__item"><a href="#" class="gnav__link">product</a></li>
					<li class="gnav__item"><a href="/news/" class="gnav__link">news</a>
						<ul class="gnav__sublist">
							<li class="gnav__subitem"><a href="/news/news/" class="gnav__sublink">ニュース</a></li>
							<li class="gnav__subitem"><a href="/news/blog/" class="gnav__sublink">ブログ</a></li>
							<li class="gnav__subitem"><a href="/news/seminar/" class="gnav__sublink">セミナー</a></li>
							<li class="gnav__subitem"><a href="/news/note/" class="gnav__sublink">お知らせ</a></li>
						</ul>
					</li>
					<li class="gnav__item"><a href="https://mitsumoto-bs.jp/contact/" class="gnav__link">contact</a></li>
				</ul>
			</nav>
		</header>

		<% if (page !== json['home']) { %>
		<ul class="p-breadcrumbs l-contents">
			<li class="p-breadcrumbs__item"><a href="">ホーム</a></li>
		<% if(page['parent'] != "") { %>
			<li class="p-breadcrumbs__item"><a href="/<%= page['parentdir'] %>/"><%= page['parent'] %></a></li>
		<% } %>
			<li class="p-breadcrumbs__item"><%= page['title'] %></li>
		</ul>

		<header class="c-page__header">
			<h1 class="c-page__title"><%= page['title'] %></h1>
		</header>
		<% } %>